      <article class="event in-event">
	 <div class="edit-icon">
          <i class="fas fa-edit"></i>
        </div>
       <h1 class="event-title">{{eventTitle}}</h1>
        <div class="event-content">
	  <div class= "event-description">
          <p class="event-text">{{eventDescription}}</p>
	  </div>
	  <ul class="event-overview">
	    <li class="overview-item">Location: <span class="location-input">{{eventLocation}}</span></li>
	    <li class="overview-item">Time: <span class="Time-input">{{eventTime}}</span></li>
	    <li class="overview-item">Capacity: <span class="capacity-input">{{eventCapacity}}</span></li>
	    <li class="overview-item">Attending: <span class="attending-input">{{eventGoing}}</span></li>
	    <li class="overview-item">Event Type: <span class="Event-Type">{{eventType}}</span></li>
	    <li class="hidden id">{{eventID}}</li>
        </div>
	<div class="go-btn">Going</div>
      </article>
